<div class="card mb-3">
    <h5 class="card-header ">{{ pokemon.name }}</h5>
    <div class="card-body border-dark">
      <p class="card-text text-dark">
        {{ pokemon.content|truncatewords_html:30 }}
        <hr>
        <div class="text-right"><a href="{% url 'pokemon-details-page' pokemon.slug %}" title="Read More">Read More</a></div>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated {{ pokemon.modified|date:"SHORT_DATETIME_FORMAT" }}</small>
    </div>
  </div>
  