{% extends "base.html" %}
{% load static %}

{% block content %}
  <h3>Pokemon {% if Pokemon %}<small class="text-muted">({{ pokemon|length }} Pokemon{{ pokemon|length|pluralize:"s" }})</small>{% endif %}</h3>
  <hr>
  <img src="{% static "download.jpeg" %}" alt="My image">
  {% if pokemons %}
    <div class="card-columns">
      {% for pokemon in pokemons %}
        {% include "partials/card.html" %}
      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-primary" role="alert">No pokemon to display.</div>
  {% endif %}
{% endblock %}